{% extends "layout.html" %}
{% block body %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>About ATTENDEE</h1>
                <div class="p1">
                    <p>ATTENDEE is a project that is started by us because taking attendance is a very tedious task in
                        our day to day life and storing this attendance is not that easy task. So we came up with a new
                        idea to make attendance easier and faster and taking record of the attendance is also so easy
                        task
                    </p>
                    <p>
                        As we have started working on this project since November'22 and we have started this as a
                        college project. And we have implemented this project in a virtual machine. In this project we
                        are mainly using better quality cameras for recording the attendance. And we have made portals
                        for one for students and and one for faculty members and staff members. Where all the
                        students,faculty and staff members have their own unique id which is been given by us.
                    </p>
                </div>
                <div class="p2">
                    <h3>How the attendance is being recorded ?</h3>
                    <p>
                        Our attendance recording process is as simple as from pen-paper attendance system. In our system
                        images of all the students, faculty and staff members are saved with a unique id given from our
                        side and they have to simply stand in front of our camera and our systems compares your current
                        image with saved images in our system and the attendance is been marked.
                        And here students can check their today's attendance is marked or not in the students portal.
                        And faculty members can see the recorded attendance of students at any time.
                    </p>
                </div>
                <div class="p3">
                    <p>The project is being started and developed by
                        <b>Ritwick Raj Makhal (Head of the project), Sohom Ghosh and Manas Raj (Tester and helper)</b>.
                        This project is in our early stage so if you want to contribute and give feedback about it then
                        you are welcomed. You can contact us through our contact us page.
                    </p>
                    <p>
                        Thank you for trusting on us.<br> Regards , Team ATTENDEE

                    </p>
                </div>
            </div>
        </div>
</main>
{% endblock %}