{% extends "dashboardLayout.html" %}
{% block body %}
        <div class="courses-area">
            <div class="container-fluid">
                <div class="row">
                    {% for course in courses %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="courses-inner res-mg-b-30">
                            <div class="courses-title">
                                <a href="#"><img src="{{course['image_file']}}" alt=""></a>
                                <h2>{{course['name']}}</h2>
                            </div>
                            <div class="courses-alaltic">
                                <span class="cr-ic-r"><span class="course-icon"><i class="fa-solid fa-building-user"></i></span> {{course['department']}}</span>
                            </div>
                            <div class="course-des">
                                <p><span><i class="fa-solid fa-hourglass-start"></i></span> <b>Semester:</b> {{course['semester'][-1:]}}</p>
                                <p><span><i class="fa-solid fa-chalkboard-user"></i></span> <b>Professors:</b> 
                                    {% for professor in course['professors'] %}
                                    {{professor}}
                                    {% endfor %}
                                </p>
                                <p><span><i class="fa fa-clock"></i></span> <b>Year:</b> {{course['year']}}</p>
                            </div>
                            <div class="product-buttons">
                                <button type="button" class="button-default cart-btn">Read More</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock %}
