{% extends "layout.html" %}
{% block body %}
<section class="container">
    <div class="table-responsive">
        <table class="table table-bordered caption-top">
            <caption class="text-center my-2 fw-bold">{{classDetails['subject_name']}} - {{classDetails['class']}}</caption>
            <tr>
                <th>Roll Number</th>
                <th>Name</th>
                {% for date in dates %}
                <th>{{date[0].replace("_","/")[:-9]}} {{date[0].replace("_",".")[11:]}}</th>
                {% endfor %}
            </tr>
            {% for details in studentDetails %}
            <tr>
                <td>{{details['roll_no']}}</td>
                <td>{{details['name']}}</td>
                {% for attendance in details['attendanceDetails'] %}
                {% if attendance == True %}
                <td><input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked></td>
                {% else %}
                <td><input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault"></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a class="btn btn-danger btn-sm mb-3" href="/download/{{id}}"><i class="fa-solid fa-download"></i> Download</a>
    </div>
</section>
{% endblock %}