{% extends "layout.html" %}
{% block body %}
<section class="container">
    <form action="/attendance/{{id}}" method="post">
        <div class="table-responsive">
            <style>
                .table th:first-child,
                .table td:first-child {
                    position: sticky;
                    left: 0;
                    background-color: white;
                }
            </style>
            <table class="table table-bordered caption-top">
                <caption class="text-center my-2 fw-bold">{{classDetails['subject_name']}} - {{classDetails['class']}}
                </caption>
                <tr>
                    <th>Roll Number</th>
                    <th>Name</th>
                    <th>Class Attended / Total Classes</th>
                    {% for date in dates %}
                    <th>{{date[0].replace("_","/")[:-9]}} {{date[0].replace("_",".")[11:]}}</th>
                    {% endfor %}
                </tr>
                {% for details in studentDetails %}
                <tr>
                    <td>{{details['roll_no']}}</td>
                    <td>{{details['name']}}</td>
                    <td>{{details['class_attended']}}/{{details['attendanceDetails']|length}}</td>
                    {% for i in range(details['attendanceDetails']|length) %}
                    {% set checked = "checked" if details['attendanceDetails'][i] else "" %}
                    <td><input class="form-check-input" type="checkbox" value="{{details['attendanceDetails'][i]}}"
                            onclick="setValue()" name="{{dates[i][0]}}#{{details['roll_no']}}" {{checked}}></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <a class="btn btn-success btn-md mb-3" href="/download/{{id}}"><i class="fa-solid fa-download"></i>
                Download</a>
            <button class="btn btn-warning btn-md mb-3" type="submit"><i class="fa-solid fa-save"></i> Save
                changes</button>
        </div>
    </form>
    <script>
        function setValue() {
            var checkbox = event.target;
            var value = checkbox.checked ? 1 : 0;
            checkbox.value = value;
        }      
    </script>
</section>
{% endblock %}