{% extends "layout.html" %}
{% block body %}
<main class="container p-3" style="background-color: rgb(241, 239, 239);">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <div class="d-flex flex-column">
      <p>Faculty Name: {{details['name']}}</p>
      <p>Faculty id: {{details['loginId']}}</p>
      <p>Date: {{details['date']}}</p>
    </div>
  </div>
  <div>
    <a class="btn btn-success my-2" href="/edit/0"><i class="fa-solid fa-plus"></i> Create a class</a>
    <a class="btn btn-warning my-2" href="#"><i class="fa-solid fa-chalkboard-user"></i> Start class</a>
  </div>
  <hr>
  <div>
    {% if classrooms %}
    <h3>Your classes:</h3>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          Subject
        </div>
        <div class="col">
          Class
        </div>
        <div class="col">
          Actions
        </div>
      </div>
      <hr class="border-2">
      {% for _class in classrooms %}
      <div class="row">
        <div class="col">
          {{_class['subject_name']}}
        </div>
        <div class="col">
          {{_class['class']}}
        </div>
        <div class="col d-flex flex-column justify-content-between mb-3">
          <a class="btn btn-info btn-sm" href="/attendance/{{_class['id']}}"><i class="fa-regular fa-clipboard"></i>
            Attendance</a>
          <a class="btn btn-primary btn-sm" href="/edit/{{_class['id']}}"><i class="fa-solid fa-pen-to-square"></i>
            Edit</a>
          <a class="btn btn-danger btn-sm" href="/deleteClass/{{_class['id']}}"><i class="fa-solid fa-trash"></i>
            Delete</a>
        </div>
        <hr>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-center">You haven't created any class</p>
    {% endif %}
  </div>
  <hr>
  <a class="btn btn-primary" href="/logout">Logout</a>
</main>
{% endblock %}