{% extends "layout.html" %}
{% block body %}
<main class="container p-3" style="background-color: rgb(241, 239, 239);">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <div class="d-flex flex-column">
      <p>Faculty Name: {{details['name']}}</p>
      <p>Faculty id: {{details['loginId']}}</p>
      <p>Date: {{details['date']}}</p>
    </div>
  </div>
  <div>
    <a class="btn btn-success my-2" href="/edit/0"><i class="fa-solid fa-plus"></i> Create a class</a>
    {% if activeClassId %}
    <a class="btn btn-danger my-2" href="/stopclass/{{activeClassId}}"><i class="fa-solid fa-chalkboard-user"></i> Stop
      class</a>
    {% else %}
    <a class="btn btn-warning my-2" href="/startclass/{{details['loginId']}}"><i
        class="fa-solid fa-chalkboard-user"></i> Start class</a>
    {% endif %}
  </div>
  <hr>
  <div>
    {% if classrooms %}
    <h3>Your classes:</h3>
    <div class="container text-center">
      <div class="row fw-bold">
        <div class="col">
          Subject
        </div>
        <div class="col">
          Class
        </div>
        <div class="col">
          Actions
        </div>
      </div>
      <hr class="border-1">
      {% for _class in classrooms|reverse() %}
      {% set classStatus = '' if _class['status'] else 'd-none' %}
      <div class="row">
        <div class="col">
          <p>{{_class['subject_name']}}</p><span class="{{classStatus}} badge rounded-pill text-bg-success">Started</span>
        </div>
        <div class="col">
          {{_class['class']}}
        </div>
        <div class="col d-flex flex-column justify-content-between mb-3">
          <a class="btn btn-info btn-sm" href="/attendance/{{_class['id']}}"><i class="fa-regular fa-clipboard"></i>
            Attendance</a>
          <a class="btn btn-primary btn-sm" href="/edit/{{_class['id']}}"><i class="fa-solid fa-pen-to-square"></i>
            Edit</a>
          {% set subject_name = _class['subject_name'] %}
          {% set classId = _class['id'] %}
          <a class="btn btn-danger btn-sm" onclick="deleteConfirmation('{{subject_name}}','/deleteClass/{{classId}}')"><i class="fa-solid fa-trash"></i>
            Delete</a>
        </div>
        <hr>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-center">You haven't created any class</p>
    {% endif %}
  </div>
  <a class="btn btn-primary" href="/logout">Logout</a>
</main>
<script>
  const deleteConfirmation =(subject_name,url)=>{
    if (confirm("Are you sure to delete the "+subject_name+" class permanently? ")){
      window.location.href = url;
    }
  }
</script>
{% endblock %}