{% extends "layout.html" %}
{% block body %}
    <main class="d-flex justify-content-center align-items-center">
        <div class="border border-black p-3 my-3">
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select User Type</option>
                    <option value="1">Student Login</option>
                    <option value="2">Facility Login</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">User Id</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                <input type="password" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-success" type="button">Login</button>
            </div>
        </div>
    </main>
    {% endblock %}
