<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Attendee - Login</title>
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-light" href="/">
                <img src="{{url_for('static',filename='images/logo.png')}}" style="height:3.5rem;" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link active" href="/about">About us</a>
                    <a class="nav-link active" href="/contact">Contact us</a>
                    <a class="nav-link active" href="{{params['github_url']}}" target="_blank"><i class="fa-brands fa-github"></i>&nbsp&nbspContrubite</a>
                </div>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}

        <footer class="text-center text-lg-start bg-dark">
          <div class="container d-flex justify-content-center py-5">
            <a href="{{params['fb_url']}}" target="_blank" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="{{params['yt_url']}}" target="_blank" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="{{params['insta_url']}}" target="_blank" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="{{params['tw_url']}}" target="_blank" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
      
          <!-- Copyright -->
          <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="/">attendee.com</a>
          </div>
          <!-- Copyright -->
        </footer>
        
</body>
</html>