{% extends "layout.html" %}
{% block body %}
{% set fname = 'images/'+details['table_name']+"/"+details['image_file'] %}
<main class="container p-3" style="background-color: rgb(241, 239, 239);">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <img src="{{url_for('static',filename=fname)}}" class="img-fluid rounded-circle" style="height:10rem;width:10rem;" alt="{{details[name]}}">
    <div class="d-flex flex-column">
      <p>Student Name: {{details['name']}}</p>
      <p>Student id: {{details['loginId']}}</p>
      <p>Department: {{details['department']}}</p>
      <p>Semester: {{details['semester']}}</p>
      <p>Date: {{details['date']}}</p>
    </div>
  </div>
  <table class="table table-hover my-5 table-responsive">
    <thead>
      <tr>
        <th>Subject name</th>
        <th>Time</th>
        <th>Attendance status</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for details in attendanceDetails %}
      <tr>
        <td>{{details['subject_name']}}</td>
        <td>{{details['date'].replace("_","/")[:-9]}} {{details['date'].replace("_",".")[11:]}}</td>
        {% if details['status'] == True %}
        <td><i class="fa-solid fa-check"></i></td>
        {% else %}
        <td><i class="fa-solid fa-xmark"></i></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-primary" href="/logout">Logout</a>
</main>
{% endblock %}
</body>

</html>